@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 50s linear infinite;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.carousel-shift-0 {
  transform: translateX(0);
}

.carousel-shift-1 {
  transform: translateX(-532px);
}

.carousel-shift-2 {
  transform: translateX(-1064px);
}

.carousel-shift-3 {
  transform: translateX(-1596px);
}

.carousel-transition {
  transition: transform 0.5s ease-in-out;
}
